body{
   background: rgba(0, 60, 128, 0.2);
}
hr {
	
    height: 12px;
    border: 0;
    box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, 0.8);
}
#lejeu{
	height : 420px;
}
hr ~ h1{
	font-style: italic;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:250px;
}

.titre-img{
	text-align: right;
	float : right
}
.titre{
	color : black;
	float : left;
  font-family : fantasy ;
	height: 35px;
	text-decoration: underline;
}
#deviner{
	font-size: 4em;
}
#indice{
	font-size: 1.5em;
	font-style: italic;
}
#credits {
	text-align: right;
}
.lettre {
    width: 50px;
}
.lettre:hover {
		filter: invert(1);
}
.line{
	width : 500px;
	text-align: center;
	
}
.pendu{
  float : right; 
	text-align: center;
	
}
#imgPendu{
  float : right;
  height : 400px ; 
	text-align: center;
	
}

.bouton a {
display:inline-block;
margin:auto;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
background:url(../images/bouton-noir.png) no-repeat;
color:white;
text-decoration:none;
}
.bouton a:hover {
background:url(../images/bouton-noir-2.png) no-repeat;
}

.bouton{
	text-align:center;
} 

.boutonDeco{
	text-align:left;
}
.boutonDeco a {
display:inline-block;
margin:auto;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
background:url(../images/bouton-noir.png) no-repeat;
color:white;
text-decoration:none;
}
.boutonDeco a:hover {
background:url(../images/bouton-noir-2.png) no-repeat;
} 